.logo {
    margin: 0 auto;
    margin-top: 90px;
    width: 312px;
}
@media screen and (min-width: 900px) {
    .logo {
        margin-top: 86px;
        width: 600px;
    }
}

.wrapPagination {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: 10px;
    gap: 4px;
    margin: 0 auto;
}

.wrapTitle {
    background-color: rgba(33, 17, 148, 0.1);
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 4px;
    color: #211194;
    font-weight: 500;
}

.wrapActive {
    background-color: #f57f04;
}
