.logo {
    margin: 0 auto;
    margin-top: 90px;
    width: 312px;
}
@media screen and (min-width: 900px) {
    .logo {
        margin-top: 86px;
        width: 600px;
    }
}

.textError {
    margin-top: 50px;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: #02c0da;
    text-shadow: 5px 3px 3px rgba(6, 83, 95, 0.4);
}

.hourglass {
    display: inline-block;
    position: relative;
    top: 105px;
    left: 320px;
    width: 80px;
    height: 80px;
}
.hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 100px solid #06535f;
    border-color: #06535f transparent #06535f transparent;
    animation: hourglass 1.2s infinite;
}
@keyframes hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
